In [9]:
import numpy as np
import pandas as pd
import nibabel as nib
import matplotlib.pyplot as plt

In [10]:
def read_file(patient_id, contrast):
    filenames = [f'{prefix}/MICCAI_BraTS_2018_Data_Training/{tumour}/{patient_id}/{patient_id}_{contrast}.nii.gz' for tumour in tumours]
    try:
        x = nib.load(filenames[0])
    except FileNotFoundError:
        x = nib.load(filenames[1])
    filenames.replace()
    nii_data = nii_img.get_fdata()
    return nii_data

In [11]:
prefix = '/home/atom/Documents/datasets/brats'
training_set = f'{prefix}/MICCAI_BraTS_2018_Data_Training/survival_data.csv'
patient_id = 'Brats18_TCIA09_620_1'
contrasts = ['t1ce', 'flair', 't1', 't2']
tumours = ['LGG', 'HGG']

In [5]:
metadata = pd.read_csv(training_set)

In [6]:
metadata

                BraTS18ID     Age  Survival ResectionStatus
0    Brats18_TCIA08_167_1  74.907       153             NaN
1    Brats18_TCIA08_242_1  66.479       147             NaN
2    Brats18_TCIA08_319_1  64.860       254             NaN
3    Brats18_TCIA08_469_1  63.899       519             NaN
4    Brats18_TCIA08_218_1  57.345       346             NaN
..                    ...     ...       ...             ...
158   Brats18_CBICA_ABB_1  68.493       465             GTR
159   Brats18_CBICA_AAP_1  39.068       788             GTR
160   Brats18_CBICA_AAL_1  54.301       464             GTR
161   Brats18_CBICA_AAG_1  52.263       616             GTR
162   Brats18_CBICA_AAB_1  60.463       289             GTR

[163 rows x 4 columns]